In [1]:
import pandas as pd


"""
1. Read the energy data 
2. Find data records from 2021/01 to 2021/12 
"""

energy = pd.read_csv("./dataset/electricity_generation.csv", index_col = 0)
energy_2021 = energy.loc[(energy['YEAR'] == 2021)].copy()

energy_2021

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION (Megawatthours)
0,2021,1,AK,Total Electric Power Industry,Total,516962.0
1,2021,1,AK,Total Electric Power Industry,Coal,76803.0
2,2021,1,AK,Total Electric Power Industry,Hydroelectric Conventional,183535.0
3,2021,1,AK,Total Electric Power Industry,Natural Gas,183908.0
4,2021,1,AK,Total Electric Power Industry,Other,-256.0
...,...,...,...,...,...,...
25417,2021,12,WY,"Electric Generators, Electric Utilities",Coal,2408632.0
25418,2021,12,WY,"Electric Generators, Electric Utilities",Hydroelectric Conventional,109773.0
25419,2021,12,WY,"Electric Generators, Electric Utilities",Natural Gas,44421.0
25420,2021,12,WY,"Electric Generators, Electric Utilities",Petroleum,7181.0
25421,2021,12,WY,"Electric Generators, Electric Utilities",Wind,669554.0

In [2]:
"""
3. According to 2021 monthly data, calculate the yearly sum of electricity GENERATION based on STATE. \
(Note that 'total' is not a type of ENERGY SOURCE and 'Total Electric Power Industry' is not a 'TYPE OF PRODUCER')
"""

energy_2021 = energy_2021.loc[~((energy_2021['TYPE OF PRODUCER'] == 'Total Electric Power Industry') |
                                (energy_2021['ENERGY SOURCE'] == 'Total') |
                                (energy_2021['STATE'] == 'US-TOTAL')
                               ),:].copy()

energy_2021_state = energy_2021.groupby(['STATE'])['GENERATION (Megawatthours)'].sum()
energy_2021_state = energy_2021_state.reset_index()

energy_2021_state

   STATE  GENERATION (Megawatthours)
0     AK                   5943530.0
1     AL                 142955133.0
2     AR                  60230137.0
3     AZ                 108608535.0
4     CA                 196727116.0
5     CO                  56737727.0
6     CT                  44123575.0
7     DC                    218241.0
8     DE                   4039976.0
9     FL                 244401038.0
10    GA                 126530745.0
11    HI                   9188089.0
12    IA                  66120266.0
13    ID                  16948581.0
14    IL                 181859377.0
15    IN                  94565161.0
16    KS                  56745956.0
17    KY                  70554259.0
18    LA                  98061967.0
19    MA                  19366993.0
20    MD                  39719296.0
21    ME                  10952775.0
22    MI                 116045383.0
23    MN                  59628025.0
24    MO                  77815983.0
25    MS                  68713324.0
26    MT                  24466637.0
27    NC                 131262686.0
28    ND                  42705232.0
29    NE                  38644643.0
30    NH                  17434999.0
31    NJ                  61386527.0
32    NM                  35271296.0
33    NV                  41880191.0
34    NY                 125226026.0
35    OH                 123335613.0
36    OK                  80564122.0
37    OR                  61081837.0
38    PA                 241648365.0
39    RI                   8035017.0
40    SC                  99924409.0
41    SD                  17834631.0
42    TN                  81478887.0
43    TX                 483561769.0
44    UT                  42656775.0
45    VA                  94309019.0
46    VT                   2147738.0
47    WA                 109122726.0
48    WI                  65478679.0
49    WV                  65630564.0
50    WY                  43650676.0

In [3]:
"""
4. Read US Census Bureau Region data (us_regions.csv) 
5. JOIN 'STATE CODE' and 'STATE' in us_regions.csv with 2021 yearly sum data \
('STATE' in 2021 data should be renamed as 'STATE_CODE')
6. Output a CSV file which should contain 3 columns: STATE, STATE_CODE, GENERATION
"""

census = pd.read_csv("./dataset/us_regions_divisions.csv")

energy_2021_census = pd.merge(energy_2021_state, census, left_on='STATE', right_on='State Code')
energy_2021_census_sum = energy_2021_census.groupby(['STATE']).sum()
# energy_2021_census_sum.drop(columns=['STATE', 'index'])

energy_2021_census_output = energy_2021_census[['State','State Code','GENERATION (Megawatthours)']]
energy_2021_census_output.to_csv('./output/energy_2021_census.csv', index=False)
energy_2021_census_output

                   State State Code  GENERATION (Megawatthours)
0                 Alaska         AK                   5943530.0
1                Alabama         AL                 142955133.0
2               Arkansas         AR                  60230137.0
3                Arizona         AZ                 108608535.0
4             California         CA                 196727116.0
5               Colorado         CO                  56737727.0
6            Connecticut         CT                  44123575.0
7   District of Columbia         DC                    218241.0
8               Delaware         DE                   4039976.0
9                Florida         FL                 244401038.0
10               Georgia         GA                 126530745.0
11                Hawaii         HI                   9188089.0
12                  Iowa         IA                  66120266.0
13                 Idaho         ID                  16948581.0
14              Illinois         IL                 181859377.0
15               Indiana         IN                  94565161.0
16                Kansas         KS                  56745956.0
17              Kentucky         KY                  70554259.0
18             Louisiana         LA                  98061967.0
19         Massachusetts         MA                  19366993.0
20              Maryland         MD                  39719296.0
21                 Maine         ME                  10952775.0
22              Michigan         MI                 116045383.0
23             Minnesota         MN                  59628025.0
24              Missouri         MO                  77815983.0
25           Mississippi         MS                  68713324.0
26               Montana         MT                  24466637.0
27        North Carolina         NC                 131262686.0
28          North Dakota         ND                  42705232.0
29              Nebraska         NE                  38644643.0
30         New Hampshire         NH                  17434999.0
31            New Jersey         NJ                  61386527.0
32            New Mexico         NM                  35271296.0
33                Nevada         NV                  41880191.0
34              New York         NY                 125226026.0
35                  Ohio         OH                 123335613.0
36              Oklahoma         OK                  80564122.0
37                Oregon         OR                  61081837.0
38          Pennsylvania         PA                 241648365.0
39          Rhode Island         RI                   8035017.0
40        South Carolina         SC                  99924409.0
41          South Dakota         SD                  17834631.0
42             Tennessee         TN                  81478887.0
43                 Texas         TX                 483561769.0
44                  Utah         UT                  42656775.0
45              Virginia         VA                  94309019.0
46               Vermont         VT                   2147738.0
47            Washington         WA                 109122726.0
48             Wisconsin         WI                  65478679.0
49         West Virginia         WV                  65630564.0
50               Wyoming         WY                  43650676.0

In [4]:
"""
7. Select the following 5 states: 'IL', 'IN', 'MI', 'OH', 'WI' from 2021 monthly data.
8. Output a CSV file which should contain 3 columns: MONTH, STATE, GENERATION 
"""

energy_2021_selected_states = energy_2021.loc[(energy_2021['STATE'].isin(['IL', 'IN', 'MI', 'OH', 'WI']))]

energy_2021_selected_states_output = energy_2021_selected_states[['MONTH', 'STATE', 'GENERATION (Megawatthours)']]
energy_2021_selected_states_output = energy_2021_selected_states_output.groupby(['STATE', 'MONTH']).sum()
energy_2021_selected_states_output = energy_2021_selected_states_output.reset_index()
energy_2021_selected_states_output.to_csv('./output/energy_2021_selected_states.csv', index=False)

energy_2021_selected_states_output

   STATE  MONTH  GENERATION (Megawatthours)
0     IL      1                  16076960.0
1     IL      2                  14948152.0
2     IL      3                  13382767.0
3     IL      4                  13213964.0
4     IL      5                  14946614.0
5     IL      6                  15858483.0
6     IL      7                  16763648.0
7     IL      8                  17421598.0
8     IL      9                  14611663.0
9     IL     10                  13568904.0
10    IL     11                  14946239.0
11    IL     12                  16120385.0
12    IN      1                   8955452.0
13    IN      2                   9689686.0
14    IN      3                   6942998.0
15    IN      4                   6260580.0
16    IN      5                   6954827.0
17    IN      6                   8713096.0
18    IN      7                   9542500.0
19    IN      8                  10146852.0
20    IN      9                   7625954.0
21    IN     10                   6589878.0
22    IN     11                   5871717.0
23    IN     12                   7271621.0
24    MI      1                  10493567.0
25    MI      2                  10149999.0
26    MI      3                   9505374.0
27    MI      4                   8005531.0
28    MI      5                   7680196.0
29    MI      6                  10027018.0
30    MI      7                  10404736.0
31    MI      8                  10995383.0
32    MI      9                   9307215.0
33    MI     10                   9744103.0
34    MI     11                   9964658.0
35    MI     12                   9767603.0
36    OH      1                  10970555.0
37    OH      2                  10270242.0
38    OH      3                  10088728.0
39    OH      4                   8148725.0
40    OH      5                   8505276.0
41    OH      6                  10077657.0
42    OH      7                  11850940.0
43    OH      8                  12035354.0
44    OH      9                  10372758.0
45    OH     10                  10527011.0
46    OH     11                  10180769.0
47    OH     12                  10307598.0
48    WI      1                   5875401.0
49    WI      2                   5605713.0
50    WI      3                   5384497.0
51    WI      4                   4873011.0
52    WI      5                   5103979.0
53    WI      6                   6154103.0
54    WI      7                   6818142.0
55    WI      8                   6853120.0
56    WI      9                   5195281.0
57    WI     10                   4561757.0
58    WI     11                   4314388.0
59    WI     12                   4739287.0

In [5]:
"""
9. Merge 'State Code' and 'Region' in us_regions.csv and 2021 yearly sum data by 'State Code' 
"""

energy_2021_state_region = pd.merge(energy_2021_state, census, left_on='STATE', right_on='State Code')
energy_2021_state_region = energy_2021_state_region.drop(columns=['STATE'])

energy_2021_state_region

,GENERATION (Megawatthours),State,State Code,Region,Division
0,5943530.0,Alaska,AK,West,Pacific
1,142955133.0,Alabama,AL,South,East South Central
2,60230137.0,Arkansas,AR,South,West South Central
3,108608535.0,Arizona,AZ,West,Mountain
4,196727116.0,California,CA,West,Pacific
5,56737727.0,Colorado,CO,West,Mountain
6,44123575.0,Connecticut,CT,Northeast,New England
7,218241.0,District of Columbia,DC,South,South Atlantic
8,4039976.0,Delaware,DE,South,South Atlantic
9,244401038.0,Florida,FL,South,South Atlantic
10,126530745.0,Georgia,GA,South,South Atlantic
11,9188089.0,Hawaii,HI,West,Pacific
12,66120266.0,Iowa,IA,Midwest,West North Central
13,16948581.0,Idaho,ID,West,Mountain
14,181859377.0,Illinois,IL,Midwest,East North Central
15,94565161.0,Indiana,IN,Midwest,East North Central
16,56745956.0,Kansas,KS,Midwest,West North Central
17,70554259.0,Kentucky,KY,South,East South Central
18,98061967.0,Louisiana,LA,South,West South Central
19,19366993.0,Massachusetts,MA,Northeast,New England
20,39719296.0,Maryland,MD,South,South Atlantic
21,10952775.0,Maine,ME,Northeast,New England
22,116045383.0,Michigan,MI,Midwest,East North Central
23,59628025.0,Minnesota,MN,Midwest,West North Central
24,77815983.0,Missouri,MO,Midwest,West North Central
25,68713324.0,Mississippi,MS,South,East South Central
26,24466637.0,Montana,MT,West,Mountain
27,131262686.0,North Carolina,NC,South,South Atlantic
28,42705232.0,North Dakota,ND,Midwest,West North Central
29,38644643.0,Nebraska,NE,Midwest,West North Central
30,17434999.0,New Hampshire,NH,Northeast,New England
31,61386527.0,New Jersey,NJ,Northeast,Middle Atlantic
32,35271296.0,New Mexico,NM,West,Mountain
33,41880191.0,Nevada,NV,West,Mountain
34,125226026.0,New York,NY,Northeast,Middle Atlantic
35,123335613.0,Ohio,OH,Midwest,East North Central
36,80564122.0,Oklahoma,OK,South,West South Central
37,61081837.0,Oregon,OR,West,Pacific
38,241648365.0,Pennsylvania,PA,Northeast,Middle Atlantic
39,8035017.0,Rhode Island,RI,Northeast,New England
40,99924409.0,South Carolina,SC,South,South Atlantic
41,17834631.0,South Dakota,SD,Midwest,West North Central
42,81478887.0,Tennessee,TN,South,East South Central
43,483561769.0,Texas,TX,South,West South Central
44,42656775.0,Utah,UT,West,Mountain
45,94309019.0,Virginia,VA,South,South Atlantic
46,2147738.0,Vermont,VT,Northeast,New England
47,109122726.0,Washington,WA,West,Pacific
48,65478679.0,Wisconsin,WI,Midwest,East North Central
49,65630564.0,West Virginia,WV,South,South Atlantic
50,43650676.0,Wyoming,WY,West,Mountain

In [6]:
from json import dump


"""
10. Rearrange the data in H to the following format and output a JSON file through json library in Python \
(Left is JSON screenshot. Right is schematic diagram)
"""

res = {}

res['name'] = 'US'
res['children'] = []

for region in set(energy_2021_state_region['Region']):
    region_state = {}
    region_state['name'] = region
    region_state['children'] = []
    d = energy_2021_state_region[energy_2021_state_region['Region'] == region]
    for _, row in d.iterrows():
        region_state['children'] += [{'name': row['State Code'], 'value': row['GENERATION (Megawatthours)']}]
    res['children'] += [region_state]

with open("./output/region_state.json", "w") as outfile:
    dump(res, outfile, indent = 2)
    
res

{'name': 'US',
 'children': [{'name': 'West',
   'children': [{'name': 'AK', 'value': 5943530.0},
    {'name': 'AZ', 'value': 108608535.0},
    {'name': 'CA', 'value': 196727116.0},
    {'name': 'CO', 'value': 56737727.0},
    {'name': 'HI', 'value': 9188089.0},
    {'name': 'ID', 'value': 16948581.0},
    {'name': 'MT', 'value': 24466637.0},
    {'name': 'NM', 'value': 35271296.0},
    {'name': 'NV', 'value': 41880191.0},
    {'name': 'OR', 'value': 61081837.0},
    {'name': 'UT', 'value': 42656775.0},
    {'name': 'WA', 'value': 109122726.0},
    {'name': 'WY', 'value': 43650676.0}]},
  {'name': 'Midwest',
   'children': [{'name': 'IA', 'value': 66120266.0},
    {'name': 'IL', 'value': 181859377.0},
    {'name': 'IN', 'value': 94565161.0},
    {'name': 'KS', 'value': 56745956.0},
    {'name': 'MI', 'value': 116045383.0},
    {'name': 'MN', 'value': 59628025.0},
    {'name': 'MO', 'value': 77815983.0},
    {'name': 'ND', 'value': 42705232.0},
    {'name': 'NE', 'value': 38644643.0},
    {'name': 'OH', 'value': 123335613.0},
    {'name': 'SD', 'value': 17834631.0},
    {'name': 'WI', 'value': 65478679.0}]},
  {'name': 'South',
   'children': [{'name': 'AL', 'value': 142955133.0},
    {'name': 'AR', 'value': 60230137.0},
    {'name': 'DC', 'value': 218241.0},
    {'name': 'DE', 'value': 4039976.0},
    {'name': 'FL', 'value': 244401038.0},
    {'name': 'GA', 'value': 126530745.0},
    {'name': 'KY', 'value': 70554259.0},
    {'name': 'LA', 'value': 98061967.0},
    {'name': 'MD', 'value': 39719296.0},
    {'name': 'MS', 'value': 68713324.0},
    {'name': 'NC', 'value': 131262686.0},
    {'name': 'OK', 'value': 80564122.0},
    {'name': 'SC', 'value': 99924409.0},
    {'name': 'TN', 'value': 81478887.0},
    {'name': 'TX', 'value': 483561769.0},
    {'name': 'VA', 'value': 94309019.0},
    {'name': 'WV', 'value': 65630564.0}]},
  {'name': 'Northeast',
   'children': [{'name': 'CT', 'value': 44123575.0},
    {'name': 'MA', 'value': 19366993.0},
    {'name': 'ME', 'value': 10952775.0},
    {'name': 'NH', 'value': 17434999.0},
    {'name': 'NJ', 'value': 61386527.0},
    {'name': 'NY', 'value': 125226026.0},
    {'name': 'PA', 'value': 241648365.0},
    {'name': 'RI', 'value': 8035017.0},
    {'name': 'VT', 'value': 2147738.0}]}]}