In [1]:
import pandas as pd


"""
1. Read the energy data 
2. Find total generation (TYPE OF PRODUCER is 'Total Electric Power Industry' \
and ENERGY SOURCE is 'Total') data records from 2021/01 to 2021/12 (US-TOTAL for STATE is excluded)
"""

energy = pd.read_csv("./dataset/electricity_generation.csv", index_col = 0)
energy = energy.rename(columns={ 'GENERATION (Megawatthours)': 'GENERATION(Mwh)' })
energy_2021_original = energy.loc[(energy['YEAR'] == 2021)].copy()
energy_2021 = energy_2021_original.loc[(energy_2021_original['TYPE OF PRODUCER'] == 'Total Electric Power Industry') &
                                (energy_2021_original['ENERGY SOURCE'] == 'Total')
                               ,:].copy()

energy_2021

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION(Mwh)
0,2021,1,AK,Total Electric Power Industry,Total,516962.0
35,2021,1,AL,Total Electric Power Industry,Total,12437071.0
69,2021,1,AR,Total Electric Power Industry,Total,5219341.0
109,2021,1,AZ,Total Electric Power Industry,Total,8689647.0
145,2021,1,CA,Total Electric Power Industry,Total,13501478.0
...,...,...,...,...,...,...
25245,2021,12,VT,Total Electric Power Industry,Total,191311.0
25274,2021,12,WA,Total Electric Power Industry,Total,11130571.0
25318,2021,12,WI,Total Electric Power Industry,Total,4739287.0
25368,2021,12,WV,Total Electric Power Industry,Total,5699551.0
25394,2021,12,WY,Total Electric Power Industry,Total,3950631.0

In [2]:
"""
3. Output a CSV file which should contain 3 columns: MONTH, STATE, GENERATION(Mwh)
"""

energy_2021_MSG = energy_2021[['MONTH', 'STATE', 'GENERATION(Mwh)']]
energy_2021_MSG = energy_2021_MSG.groupby(['MONTH', 'STATE']).sum()
energy_2021_MSG = energy_2021_MSG.reset_index()
energy_2021_MSG.to_csv('./output/energy_2021_MSG.csv', index=False)

energy_2021_MSG

     MONTH STATE  GENERATION(Mwh)
0        1    AK         516962.0
1        1    AL       12437071.0
2        1    AR        5219341.0
3        1    AZ        8689647.0
4        1    CA       13501478.0
..     ...   ...              ...
619     12    VT         191311.0
620     12    WA       11130571.0
621     12    WI        4739287.0
622     12    WV        5699551.0
623     12    WY        3950631.0

[624 rows x 3 columns]

In [3]:
"""
4. According to the original energy data, select 2021 monthly data based on TYPE OF PRODUCER. \
(Note that ENERGY SOURCE is 'Total')
"""

energy_2021_MT = energy_2021_original.loc[~((energy_2021_original['TYPE OF PRODUCER'] == 'Total Electric Power Industry') |
                                (energy_2021_original['STATE'] == 'US-TOTAL')
                               ) & (energy_2021_original['ENERGY SOURCE'] == 'Total'),:].copy()
energy_2021_MT = energy_2021_MT.reset_index()
energy_2021_MT = energy_2021_MT.drop(columns=['index', 'YEAR', 'MONTH'])

energy_2021_MT

,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION(Mwh)
0,AK,"Combined Heat and Power, Industrial Power",Total,9041.0
1,AK,"Combined Heat and Power, Commercial Power",Total,32454.0
2,AK,"Combined Heat and Power, Electric Power",Total,18266.0
3,AK,"Electric Generators, Independent Power Producers",Total,4169.0
4,AK,"Electric Generators, Electric Utilities",Total,453032.0
...,...,...,...,...
2767,WV,"Electric Generators, Independent Power Producers",Total,1663271.0
2768,WV,"Electric Generators, Electric Utilities",Total,3922137.0
2769,WY,"Combined Heat and Power, Industrial Power",Total,235545.0
2770,WY,"Electric Generators, Independent Power Producers",Total,475526.0
2771,WY,"Electric Generators, Electric Utilities",Total,3239561.0

In [4]:
"""
5. Calculate the yearly sum of total GENERATION based on TYPE OF PRODUCER and STATE.
6. Use pandas.pivot_table to rearrange the dataframe
7. Output the CSV file which has 3 columns: STATE,TYPE OF PRODUCER, GENERATION(Mwh)
"""

energy_2021_MT_TS = energy_2021_original.loc[~(energy_2021_original['TYPE OF PRODUCER'] == 'Total Electric Power Industry') & 
                                    (energy_2021_original['ENERGY SOURCE'] == 'Total'),:].copy()
energy_2021_MT_TS = energy_2021_MT_TS.reset_index()
energy_2021_MT_TS = energy_2021_MT_TS.drop(columns=['index', 'YEAR', 'MONTH'])
energy_2021_MT_TS = energy_2021_MT.groupby(['STATE', 'TYPE OF PRODUCER']).sum()
energy_2021_MT_TS = energy_2021_MT_TS.reset_index()
energy_2021_MT_TS.to_csv('./output/energy_2021_MT_TS.csv')

energy_2021_MT_TS

    STATE                                  TYPE OF PRODUCER  GENERATION(Mwh)
0      AK         Combined Heat and Power, Commercial Power         350962.0
1      AK           Combined Heat and Power, Electric Power         199567.0
2      AK         Combined Heat and Power, Industrial Power         111166.0
3      AK           Electric Generators, Electric Utilities        5229885.0
4      AK  Electric Generators, Independent Power Producers          51947.0
..    ...                                               ...              ...
231    WV           Electric Generators, Electric Utilities       47093799.0
232    WV  Electric Generators, Independent Power Producers       17250096.0
233    WY         Combined Heat and Power, Industrial Power        2234720.0
234    WY           Electric Generators, Electric Utilities       37365468.0
235    WY  Electric Generators, Independent Power Producers        4050482.0

[236 rows x 3 columns]